@import 'bootstrap/scss/bootstrap-reboot.scss';
@import 'bootstrap/scss/bootstrap-grid.scss';
@import './colours.scss';
@import './mixins.scss';
@import './loop.scss';

body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.overflow-wrapper {
  overflow: hidden;
}

.dev-title {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  color: #e5422b;
}
