{% extends "_layouts/default" %}

{% block content %}
  <div class="container">
    <h1 class="text-center py-64 text-4xl text-primary">Craft CMS with Twig &amp; Webpack &nbsp; 🎉</h1>
  </div>
{% endblock %}
